.block-item{
    margin: 10px 20px;
    border: 2px solid #aaa;
    width: 157px;
    height: 288px;
    border-radius: 15px;
}
.main_header{
    display: flex;
    justify-content: center;
    margin: 50px 0;
}
.btn-block {
    display: block;
    width: 100%;
    text-align: center;
}
.block-img{

    
}
.block-author{
    
    padding: 20px 0;

}
.like-count{
    text-align: center
}
.link_btn {
    border: 1px solid #aaa;
    display: flex;
    justify-content: center;
    background-color: #28a745;
    color: #fff;
    margin: 10px;
    border-radius: 50px;
}
.create-date{
    font-size: 12px;
}
.block-author-text{
    text-align: center;
    text-transform: capitalize
}